header{
    height: 30px;
    border-bottom: solid;
    border-width: 1px;
}

#search-box{

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 4px;
}

#header-separator{
    margin-top: 30px;
}

.card{
    height:50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;

}

.card-opened{
    height:200px;
}

.card-inner{

}

.hide{
    display: none;
}

.cover--image{
    height: 200px;
}

.card--heading{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card--body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 15px;
}